body {
    margin: 0;
    text-align: center;
    font-size: 0px;
    background: url("../assets/star_background.jpg");
    color: white;
}

h1 {
    font-family: 'Concert One', cursive;
    font-size: 80px;
    letter-spacing: 0.1em;
    margin: 45px 0;
}

#game {
	display: inline-block;
	position: relative;
    margin-bottom: 45px;
}
.bar {
	position: absolute;
	right: -100px;
	top: 0;
	width: 100px;
	height: 600px;
	background: #161719; 
}
.score {
	font-size: 30px;
	margin-bottom: 100px;
}
.keys {
	color: #2f7efc;
	margin-top: 20px;
}
.instruction {
	font-size: 20px;
	margin-bottom: 25px;
}

p {
    margin-top: 18px;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}