body {
    margin: 0;
    text-align: center;
    font-size: 0px;
    background: url("../assets/star_background.jpg");
    color: white;
}

h1 {
    font-family: 'Concert One', cursive;
    font-size: 80px;
    letter-spacing: 0.1em;
    margin: 45px 0;
}

#game {
	display: inline-block;
	position: relative;
    margin-bottom: 45px;
}
.bar {
	position: absolute;
	right: -150px;
	top: 0;
	width: 150px;
	height: 768px;
	background: #161719;
}
.score {
	font-size: 30px;
	margin-bottom: 100px;
}

#health {
    height: 20px;
    width: 140px;
    margin: 0 auto;
    background: url('../assets/Health_sprite.png');
    background-position: -420px 0;
    margin-bottom: 50px;
}

.weapon {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 7.5px;
    float: left;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 40px;
}

.single {
    background: url('../assets/single_shoot_button.png');
}

.double {
    background: url('../assets/double_shoot_button.png');
}

.big {
    background: url('../assets/big_shoot_button.png');
}

.weapon div {
    position: absolute;
    bottom: -30px;
    left: 15px;
    font-size: 15px;
}

.keys {
	color: #2f7efc;
	margin-top: 20px;
}
.instruction {
	font-size: 20px;
	margin-bottom: 25px;
}

p {
    margin-top: 18px;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}
